<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution License

	Name       : Coffeelike
	Version    : 1.0
	Released   : 20130222

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-35750962-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
	<link rel="stylesheet" href="css/mastodon-timeline.css" />
	<script src="scripts/mastodon-timeline.js"></script>
	<meta name="description" content="Camille Maumet. This online CV presents research and teaching activities.">
</head>
<body>
	<div id="bg">
		<div id="outer">
			<div id="header">
				<div id="logo">
					<h1>
						<a href="/">Camille Maumet</a>
					</h1>
				</div>
				<div id="nav">
				<ul>
<!-- 					<li class="first active">
						<a href="/">Home</a>
					</li> -->
					<!--<li>
						<a href="projects.html">Projects</a>
					</li>-->
					<li  class="first active">
						<a href="talks.html">Talks</a>
					</li>
					<li>
						<a href="publications.html">Publications</a>
 					</li>
 					<li>
						<a href="team.html">Supervision</a>
					</li>
					<li>
						<a href="service.html">Service</a>
					</li>
					<li>
						<a href="projects.html">Projects</a>
					</li>
					<li>
						<a href="mediation.html">Outreach</a>
					</li>
					<!---
					<li>
						<a href="http://blog.camillemaumet.com">Blog</a>
					</li>-->
				</ul>
				<br class="clear" />
			</div>
		</div>
		<div id="main">
			<div id="sidebar">
				<!-- Before Aug. 2022: Research scientist in brain imaging data sciences, focusing on large-scale analysis in neuroimaging.  -->

				<h3>
					Camille Maumet
				</h3>
				<p>
					<b>Research scientist</b> in neuroinformatics 
				</p>
				<p>	
					I study neuroimaging reproducibility and in particular the impact of the variability induced by analytical pipelines.
				</p>
				<div class="mt-timeline">
				  <div id="mt-body" class="mt-body" role="feed">
				    <div class="loading-spinner"></div>
				  </div>
				</div>
				<hr/>
				<p>camille.maumet at inria.fr</p>	
				<div style="text-align:center">
					<img src="https://team.inria.fr/ctrl-a/files/2020/05/inr_logo_rouge.jpg" width="200px" />
					<p>
						Inria, Univ Rennes, CNRS, Inserm, France. 
					</p>
				</div>
			</div>
			<div id="content">
				{{ content }}
				<br class="clear" />
			</div>
			<br class="clear" />
		</div>
	</div>
	<div id='copyright'>
		Design by <a href="http://www.freecsstemplates.org/">FCT</a>
	</div>
</div>
</body>
</html>
